html, body {
	top:0;
	left:0;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
	color: #1a1a1a;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size:2em;
	font-weight:900;
	text-align:center;
}

.clear { 
	clear: both; 
}

.title p {
	font-size:1em;
	font-weight:300;
	margin:auto;
	width:60%;
	text-align:center;
}

.title {
	width:100%;
	padding-top:1%;
	padding-bottom:2%;
	background-color:#f2f2f2;
	height:auto;
	position:relative;
}

.media {
	position:relative;
	text-align:center;
	padding: 5% 10% 2% 20%;
	background-color:#f2f2f2;
}

.imgContainer {
	float:left;
	display:inline-block;
	width:40%;
	padding:1%;
}

img {
	width:100%;
}

.overlay {
	background-color:black;
	color:white;
	top:0;
	left:0;
	width:10%;
	height:auto;
	padding:2%;
	border-radius:2px;
}

p.subtitle{
	font-size:1em;
	font-weight:900;
	text-align:center;
}

#chartDiv{
  width: 100%;
  position:absolute;
  opacity: 1; 
  overflow:hidden;
}

#pointer {
	position:absolute; 
	display:none
}

#header {
	margin-top:0%;
}

@media only screen and (max-width: 1200px)  {
	h1{
		font-size:4em;
	}
	.title p{
		font-size:1.2em;
	}
	.imgContainer{
		width:45%;
	}
	.media{
		padding: 5% 0% 2% 5%;
	}
	.title {
		padding-bottom:10%;
	}
	}